<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tetti.uvcunity">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />

    <application />
</manifest>
